<!DOCTYPE html>
<html ng-app="filtros">
<head>
    <meta charset="utf-8" />
    <title>Filtros</title>
    <script src="Lib/angular.js"></script>
    <link href="Lib/bootstrap.css" rel="stylesheet" />
    <script src="Lib/angular-locale_pt-br.js"></script>
    <script>
        var app = angular.module("filtros", []).controller("filtrosCtrl", function ($scope) {
            $scope.funcionarios = [
                { nome: "Leo", nascimento: new Date("May 12 1998"), sexo: "Masculino", salario: 5500.78 },
                { nome: "Ana", nascimento: new Date("November 23 1975"), sexo: "Feminino", salario: 2301.34 },
                { nome: "Pedro", nascimento: new Date("July 3 1985"), sexo: "Masculino", salario: 1009.00 },
                { nome: "Maria Clara", nascimento: new Date("April 15 1945"), sexo: "Feminino", salario: 2234.60 },
                { nome: "Julia", nascimento: new Date("August 13 1965"), sexo: "Feminino", salario: 4432.45 }
            ];

            $scope.hoje = new Date();
            $scope.alfabeto = "abcdefghijklmnopqrstuvwxyz";
            $scope.numeroLinhas = 3;
        });
    </script>
</head>
<body ng-controller="filtrosCtrl">
    <div class="well">
        Leo - {{hoje | date:"dd MMMM, yyyy"}}
        <hr />
        Nº de linhas a exibir <input type="number" step="1" min="0" max="5" ng-model="numeroLinhas" />
        <hr />
        <table class="table">
            <tr>
                <th>Nome</th>
                <th>Aniversário</th>
                <th>Sexo</th>
                <th>Salário (Número)</th>
                <th>Salário (Moeda)</th>
            </tr>
            <tr ng-repeat="funci in funcionarios | limitTo: numeroLinhas">
                <td>{{funci.nome | uppercase}}</td>
                <td>{{funci.nascimento | date:"dd/MM/yyyy"}}</td>
                <td>{{funci.sexo | lowercase}}</td>
                <td>{{funci.salario | number: 2}}</td>
                <td>{{funci.salario | currency}}</td>
            </tr>
        </table>
        <h3>limitTo</h3>
        Alfabeto: {{alfabeto}} <br />
        Alfabeto (limitado a 5 letras): {{alfabeto | limitTo: 5}} <br />
        Alfabeto (limitado a 7 letras a partir do 5 elemento): {{alfabeto | limitTo:7:4}} <br />
        Alfabeto (limitado a 10 letras caixa alta): {{alfabeto | limitTo: 10 | uppercase}} <br />
    </div>
</body>
</html>